@{
    ViewData["Title"] = "Редактирование комментария";
}

@using MyBlog.Application.Models

@model UpdateCommentRequest
@{
    <h1>@ViewData["Title"]</h1>

    <form method="post" autocomplete="off" asp-controller="Comment" asp-action="Edit">
        <div class="mb-3">
            <input type="text" asp-for="Id" hidden />
            <label for="commentTitleInput" class="form-label">Заголовок коментария</label>
            <input type="text" class="form-control" id="commentTitleInput" asp-for="Title" />

            <label for="commentTextInput" class="form-label">Комментарий</label>
            <textarea class="form-control" id="commentTextInput" rows="3" asp-for="Text"></textarea>
        </div>
        <div class="mb-3 text-danger" asp-validation-summary="ModelOnly"></div>
        <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
    </form>

}