@using MyBlog.Application.Models

@model IEnumerable<UserViewModel>
@{
	<div><h1>Список пользователей</h1></div>

    <table cellpadding="10">
        <tr>
            <td>ID</td>
            <td>Логин</td>
            <td>Email</td>
        </tr>
        @foreach (UserViewModel user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
            </tr>
        }
    </table>
}
