@{
    ViewData["Title"] = "Регистрация пользователя";
}

@model MyBlog.Application.Models.UpdateUserRequest

@{
    <h1>@ViewData["Title"]</h1>
    <form method="post" autocomplete="off" asp-controller="Account" asp-action="Edit">

        <div class="row mb-3">
            <label for="inputFirstName" class="col-sm-2 col-form-label">Имя: </label>
            <div class="col-sm-10">
                <input type="text" asp-for="FirstName" class="form-control" id="inputFirstName">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputLastName" class="col-sm-2 col-form-label">Имя: </label>
            <div class="col-sm-10">
                <input type="text" asp-for="LastName" class="form-control" id="inputLastName">
            </div>
        </div>
        <button type="submit" class="mb-3 btn btn-primary bg-gradient">Сохранить</button>
    </form>
}
